.banner {
  border: solid 1px yellow;
  width: 600px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: #fff;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  padding-left: 8px;
  border-radius: 0 10px;
}
.buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .button {
    background-color: #fff;
    border: solid yellow 1px;
    color: #000;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      background-color: yellow;
      color: #000;
    }
    font-weight: bold;
  }
}
.gameName {
  color: rgb(255, 255, 255);
  padding: 0 10px;
  height: 100%;
  border-radius: 0 10px 0 0;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
