.card {
  border-radius: 6px;
  padding: 4px;
  display: flex;
  flex-flow: column wrap;
  width: 70px;
  height: 100px;
  column-gap: 24px;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.5);
  box-sizing: border-box;
  animation-name: move;
  animation-duration: 200ms;
  justify-content: space-between;
  font-size: 14px;
  .cardHead {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-flow: column wrap;
    line-height: 1;

  }
  .cardBody{
    font-size: 35px;
    line-height: 1;
    width: 100%;
    text-align: center;
  }
  .cardFooter {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    line-height: 1;
    transform: rotate(180deg);

  }
}
@keyframes move {
  from {
    top: 200px;
  }
  to {
    top: 10px;
  }
}
