.chip {
  position: relative;
  width: 102px;
  height: 106px;

  .valueHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;

    justify-content: center;
  }
  .chipValue {
    font-size: 15px;
    font-weight: bold;
    padding-top: 40px;
  }
}
