.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  .ribbon {
    font-size: 16px !important;
    width: fit-content;
    z-index: 9998;
    position: relative;
    background: yellow;
    color: #000;
    text-align: center;
    height: 20px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1em;
      border: 20px solid yellow;
      z-index: -1;
    }
    &:before {
      left: -2em;
      border-right-width: 20px;
      border-left-color: transparent;
    }
    &:after {
      right: -2em;
      border-left-width: 20px;
      border-right-color: transparent;
    }

    .ribbonContent:before,
    .ribbonContent:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: yellow transparent transparent transparent;
      bottom: -1em;
    }
    .ribbonContent:before {
      left: 0;
      border-width: 1em 0 0 1em;
    }
    .ribbonContent:after {
      right: 0;
      border-width: 1em 1em 0 0;
    }
  }
}
